//@import "../../node_modules/minireset.css/minireset";
//@import "custom-variables";
//
//@import "../../node_modules/bulma/bulma";
//

$primary: #981515;

@use "bulma/sass/utilities" with (
  $radius: 4px,
  $primary: $primary,
  $link: lighten($primary, 20)
);

@use "bulma/sass/elements/box" with (
  $box-background-color: lighten(utilities.$black, 10)
);

@forward "bulma/sass/base";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/level";
@forward "bulma/sass/layout/section";
@forward "bulma/sass/components/navbar";
@forward "bulma/sass/helpers/spacing";
@forward "bulma/sass/helpers/flexbox";
@forward "bulma/sass/helpers/color";
@forward "bulma/sass/helpers/visibility";
@forward "bulma/sass/helpers/typography";
@forward "bulma/sass/grid/columns-v2";

// Import the themes so that all CSS variables have a value
@forward "bulma/sass/themes";
